.first {
    border: 8px solid;
    border-color: blue ;
    background-image: url("https://shorturl.at/chPWY");
    background-repeat: no-repeat;
    background-size: cover;
}
.second {
    color: crimson;
    border: 10px solid;
    border-color: bisque;
   
}