.first {
    border: 8px solid;
    border-color: blue ;
    background-image: url ("https://images.unsplash.com/photo-1545665277-5937489579f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
}
.second {
    color: crimson;
    border: 10px solid;
    border-color: bisque;
   
}