.first {
    border: 8px solid;
    border-color: blue ;
    background-image: url("https://shorturl.at/chPWY");
    background-repeat: no-repeat;
    background-size: cover;
}

.class1{
    background-color: black;
}
.second {
    color: rgb(20, 220, 63);

   /* border-color: bisque; 
    background-color: black;*/

}
.third{
    color: white;
    background-color: black;
}